.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    th,
    td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
        color: #333;
    }

    tr:nth-child(odd) {
        background-color: $gray;
    }
}

.btn-delete {
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(220, 0, 0);
    color: $white;
    border: none;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: bold;
    cursor: pointer;

    &:hover {
        background-color: $white;
        color: rgb(220, 0, 0);
    }
}

.btn {
    padding: 5px;
    border-radius: 5px;
    background-color: $or;
    color: $black;
    border: none;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: bold;
    cursor: pointer;
    border: 1px solid $black;

    &:hover {
        background-color: $black;
        color: $or;
        border: 1px solid $or;
    }
}