// common
$black: #000;
$black2: #23242a;
$black3: #070707;
$white: #fff;
$gray: #28292d;
$or: #FFD700;

@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-VariableFont_wght.ttf");
}
@font-face {
    font-family: 'Montserrat-Italic';
    src: url("fonts/Montserrat-Italic-VariableFont_wght.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $black3;
    color: $white;
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style-type: none;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding: 10px;
}
