// common
$black: #000;
$white: #fff;
$gray: #28292d;
$lightgray: #23242a;
$black2: #23242a;

* {
    // padding: 0;
    // margin: 0;
    box-sizing: border-box;
}

body {
    background: $black;
    color: $white;
    font-family: sans-serif;
}

li {
    list-style-type: none;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding: 10px;
}