html {
    font-size: 20px;
  }
  @media (max-width:768px) {
    html {
      font-size: 16px;
    }
    .detail {
      flex-direction: column;

      img {
        width: 100%;
      }
    }

    .home-link {
      width: 400px;
    }
    
  }
  @media (max-width:1024px) {
    html {
      font-size: 18px;
    }
    .detail-map {

      #map {
        height: 300px;
        width: 600px;
      }
    }
  }
  @media (max-width:1280px) {
    html {
      font-size: 19px;
    }
  }